table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

textarea {
    height: auto;
}

table td,
table th {
    border: 1px solid rgb(209, 207, 207);
    padding: 8px;
    font-size: 28px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th,
tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #9c69a3;
    color: white;
}

#ghibliSearch-div {
    grid-column-start: 2;
    grid-column-end: 20;
    grid-row-start: 3;
    grid-row-end: 3;
}

#ghibliSearch-span {
    font-size: 40px;
    color: #9c69a3;
}

#ghibliSearch-input {
    font-size: 30px;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    color: #9c69a3;
    padding: 1rem;
}

#StudioGhibliFilm-table {
    grid-column-start: 2;
    grid-column-end: 20;
    grid-row-start: 6;
    grid-row-end: 20;
}

#GhibliFilmGlobalFilter-span {
    font-size: 40px;
    color: #9c69a3;
}

#GhibliFilmGlobalFilter-inputTextBox {
    font-size: 30px;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    color: #9c69a3;
    padding: 1rem;
}

#GhibliFilmTablePagination-div {
    grid-column-start: 12;
    grid-column-end: 28;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 25px;
    color: #9c69a3;
}

button,
#GhibliFilmTable-Selector {
    font-size: 25px;
    color: white;
    background-color: #9c69a3;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#GhibliFilmGlobalFilter-span {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 3;
}

#ghibliFilm-container {
    position: relative;
    left: 88rem;
    top: 18rem;
    border-radius: 10px;
}

#GhibliFilmGlobalFilter-inputTextBox {
    font-size: 30px;
    height: 47px;
    border-radius: 10px;
    color: #9c69a3;
    padding: 1rem;
}

#ghibliFilm-release-description,
#ghibliFilm-release-date {
    position: relative;
    margin-top: -34px;
}

#ghibliFilm-release-date {
    margin-bottom: 20px;
}

#StudioGhibliFilm-div {
    position: fixed;
    left: -5rem;
    top: -6rem;
}

#ghibliFilm-title,
#ghibliFilm-director {
    position: relative;
    right: 4.8rem;
    margin-bottom: -12px;
}

#ghibliFilm-movie-banner {
    position: relative;
    width: 350px;
    left: 20px;
    margin-top: 4px;
}

#ghibliFilm-div {
    width: 390px;
    text-align: center;
}

#add-ghibli-film-btn {
    height: 2.3rem;
    font-size: 1.2rem;
    width: 4rem;
}

.gf {
    display: flex;
    position: relative;
    top: 16rem;
}

#ghibli-title,
#ghibli-director,
#ghibli-moviePoster,
#ghibli-releaseDate,
#ghibli-Description,
#ghibli-movieBanner {
    height: 2.2rem;
    margin: 2px;
    font-size: 21px;
    font-weight: bolder;
    color: #9c69a3;
    width: 7.8rem;
    padding: 0.1rem;
    border-width: 2px;
    border-radius: 5px;
}

#ghibli-releaseDate {
    width: 3.45rem;
    font-size: 1.7rem;
    padding: 0.1rem;
}

.form-label-ghibli {
    font-size: 1.3rem;
    width: 12rem;
    color: #9c69a3;
}

#AddedGhibli {
    position: relative;
    top: 3.5rem;
    right: 40rem;
    font-size: 40px;
    color: #9c69a3;
}

.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 44.5rem;
    top: 7.7rem;
    justify-content: center;
    font-size: 1.4rem;
    color: #9c69a3;
}

.form-control {
    font-size: 1.3rem;
    width: 160px;
    color: #9c69a3;
    position: relative;
}

.text-center {
    position: relative;
    bottom: 26rem;
    left: 32rem;
    font-size: 1.8rem;
    color: #9c69a3;
    width: 700px;
}

.form-group-movie-poster {
    position: relative;
    top: 9rem;
    left: 32rem;
}

#update-ghibli-film-btn {
    height: 38px;
}

.btn-confirm-delete {
    width: 150px;
    margin-bottom: 5px;
}

#btn-confirm-done {
    height: 38px;
    position: relative;
    bottom: 3px;
    left: 1rem;
}

#UpdateFilmForm {
    display: flex;
    position: relative;
    left: 8rem;
    top: 14rem;
}

.form-label-ghibli-2 {
    display: flex;
    position: relative;
    font-size: 20px;
    margin: 3px;
    color: #9c69a3;
    position: relative;
    top: 4px;
}

@media (max-width: 1024px) {
    #StudioGhibliFilm-table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 20;
        text-align: center;
    }
    #GhibliFilmTablePagination-div {
        grid-column-start: 4;
        grid-column-end: 15;
        grid-row-start: 4;
        grid-row-end: 4;
        font-size: 25px;
        color: #9c69a3;
    }
    #GhibliFilmGlobalFilter-span {
        grid-column-start: 1;
        grid-column-end: 15;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    #ghibliFilm-container {
        position: relative;
        left: 34rem;
        top: 17.8rem;
    }
    #StudioGhibliFilm-div {
        position: fixed;
    }
    #ghibliFilm-div {
        width: 280px;
        text-align: center;
        font-size: 18px;
    }
    #ghibliFilm-movie-banner {
        width: 255px;
        position: relative;
        left: 13px;
    }
    #ghibliFilm-title {
        position: relative;
        right: 5rem;
    }
    #ghibliFilm-director {
        position: relative;
        right: 4rem;
    }
    #GhibliFilmGlobalFilter-inputTextBox {
        position: relative;
        left: 42rem;
    }
    #GhibliFilmTablePagination-div {
        grid-column-start: 2;
        grid-column-end: 15;
        grid-row-start: 5;
        grid-row-end: 5;
        font-size: 25px;
    }
    .gf {
        position: relative;
        top: 14rem;
        right: 3rem;
    }
    #StudioGhibliFilm-div {
        position: fixed;
        left: 11.4rem;
        top: -0.4rem;
    }
    #ghibliFilm-release-date {
        margin-bottom: 23px;
    }
    #ghibli-title,
    #ghibli-director,
    #ghibli-moviePoster,
    #ghibli-releaseDate,
    #ghibli-Description,
    #ghibli-movieBanner {
        height: 2.2rem;
        margin: 2px;
        font-size: 25px;
        width: 4.4rem;
        padding: 0.1rem;
    }
    #add-ghibli-film-btn {
        height: 2.3rem;
        font-size: 1.2rem;
        width: 4rem;
        /* position: relative;
        right: 1rem; */
    }
    .form-group {
        left: 22rem;
    }
    .form-group-movie-poster {
        left: 9rem;
    }
    .btn-confirm-delete {
        left: 21.4rem;
    }
    .text-center {
        left: 10rem;
    }
    #UpdateFilmForm {
        left: -4rem;
        font-size: 8px;
        top: 12rem;
    }
    #update-ghibli-film-btn,
    #btn-confirm-done {
        font-size: 16px;
    }
    .form-label-ghibli-2 {
        font-size: 20px;
        margin: 3px;
        color: #9c69a3;
        position: relative;
        top: 4px;
    }
    #AddedGhibli {
        position: relative;
        top: 8rem;
    }
}